body {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Urbanist', sans-serif; */
    font-size: 1rem;
    line-height: 1.5;
    color: #333333;
    font-weight: 400;
}
.h-100vh {
    height: 100vh;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Urbanist', sans-serif;
   font-weight: 800;
}
span.navbar-toggler-icon {
    width: 1rem;
    height: 1rem;
}
.navbar li.nav-item {
    padding: 0 10px;
}
.navbar a.nav-link {
    font-size: 14px;
    font-weight: 600;
}
.dropdown-menu li a {
    text-transform: capitalize;
    padding: 10px;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #19af63;
}
.list-bullet li {
    list-style-type: square;
}
.list-bullet li::marker {
    font-size: 1.3em;
    color: #19af63;
}
.navbar-nav .nav-link.active {
    color: #22ae60;
    font-weight: 600;
}
.slide-caption {
    background-color: #f89e35;
    padding: 15px;
    color: #ffffff;
    width: 50%;
    position: absolute;
    top: 47%;
    left: 10%;
    border-radius: 2px;
}

.banner-section .custom-control {
    position: absolute;
    top: 2em;
    right: 2em;
    z-index: 999;
  }
 .banner-section .custom-control button {
    background: deepskyblue;
    border: 1px solid;
    color: white;
    font-size: 1em;
    padding: 0.2em 0.6em;
    outline: none;
  }
  .banner-section .custom-control button.active {
    background: #7CD279;
  }
  
  .banner-section .owl-carousel {
    position: relative;
    height: 100%;
  }
  .banner-section .owl-carousel .owl-slide {
    width: 100%;
  }
  .banner-section .owl-carousel .owl-slide img {
    width: 100%;
    height: auto;
    margin-top: 45px;
  }
  .banner-section .owl-carousel .owl-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
  }
  .banner-section .owl-carousel .owl-nav button {
    position: absolute;
    top: 50%;
    bottom: 0;
    display: inline-block;
    zoom: 1;
    margin: 0;
    width: 60px;
    height: 60px;
    line-height: 45px;
    text-align: center;
    font-size: 1em;
    border-radius: 30px;
    font-size: 14px;
    color: #FFF;
    background: #19af63;
    opacity: 0.8;
    text-transform: uppercase;
    border-radius: 50px;
  }
  .banner-section .owl-carousel .owl-nav button:hover {
    opacity: 1;
  }
  .banner-section .owl-carousel .owl-nav button.owl-prev { 
    left: 0.5em;
    }
    
  .banner-section .owl-carousel .owl-nav button.owl-next { 
    right: 0.5em;
   }
   .banner-section .owl-carousel .owl-nav button>span {
    font-size: 48px;
   }
.expertise-section {
    background-image: url("../images/expertise-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.expertise-card{
    border-radius: 5px;
    transition: 0.4s;
    position: relative;
    z-index: 2;
    padding: 15px;
    background: #F5F5F5;
    text-align: center;
}
.expertise-card:hover {
    background: #ffffff;
    box-shadow: 0px 12px 35px rgb(0 0 0 / 10%);
    transform: translateY(-20px);
}

.owl-dots{
    text-align: center;
  }
  
  .owl-dot {
    display: inline-block;
    height: 15px !important;
    width: 15px !important;
    background-color: #dee2e6  !important;
    opacity: 0.8;
    border-radius: 50%;
    margin: 0 5px;
  }
  
  .owl-dot.active {
    background-color: #19af63 !important;
  }
  
.client-img {
    text-align: center;
    border: 2px solid #e9ecef;
    padding: 10px;
    margin-bottom: 15px;
}
.shape-img-1 {
    top: 17px;
    left: -80px;
    position: absolute;
    z-index: -1;
}
/* Contact page */
.contact .card {
    position: relative;
    margin: 150px auto 100px;
    padding: 20px;
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 0;
  }
  .contact .card .circle {
    border-radius: 3px;
    width: 150px;
    height: 150px;
    background: black;
    position: absolute;
    right: 0px;
    top: 0;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    border-bottom-left-radius: 170px;
  }
  .contact .card .content {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
  }
  .contact .card h1 {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 0;
  }
  .contact .card h2 {
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: 300;
  }
  .contact .card .social {
    margin-bottom: 5px;
  }
  .contact .card .social a {
    text-decoration: none !important;
    color: black;
    margin-left: 8px;
    font-weight: 300;
  }
  .contact .card .social a i {
    font-weight: 400;
  }
  .contact .card .location {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .contact .card .location i {
    color: red;
  }
  .contact .card .location p {
    font-weight: 300;
  }









/* Footer */

footer {
    padding: 2rem 0;
    background-color: #19af63;
  }
  
  .footer-column:not(:first-child) {
    padding-top: 2rem;
  }

  
  .footer-column {
    text-align: center;
  }
  .footer-column .nav-item .nav-link {
    padding: 0.5rem 0;
    color: #ffffff;
  }
  .footer-column .nav-item span.nav-link {
    color: #6c757d;
  }
  .footer-column .nav-item span.footer-title {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
  }
  .footer-column .nav-item .fas {
    margin-right: 0.5rem;
  }
  .footer-column ul {
    display: inline-block;
  }

  
  ul.social-buttons {
    margin-bottom: 0;
  }
  
  ul.social-buttons li a:active,
  ul.social-buttons li a:focus,
  ul.social-buttons li a:hover {
    background-color: #fec503;
  }
  
  ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #fff;
    border-radius: 100%;
    outline: 0;
    background-color: #a253a4;
  }
  
  footer .quick-links {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  footer .quick-links li a {
    color:#ffffff;
  }
  .copyright {
    color: white;
  }
  
  .fa-ellipsis-h {
    color: white;
    padding: 2rem 0;
  }
  @media (min-width: 768px) {
    .footer-column:not(:first-child) {
      padding-top: 0rem;
    }
    .footer-column ul {
        text-align: left;
      }
  }


/* For mobile phones: */
  @media only screen and (max-width: 768px) {
    .banner-section .owl-carousel .owl-slide img {
      height: 550px;
      width: auto !important;
    }
    .navbar-brand img {
        width:220px;
    }
    .col-reversed{
        flex-direction: column-reverse;
     }
     .contact .card {
        margin: 100px auto 50px;
    }
  }
